%define build_module_core mmake=/A modname=/A modtype=/A modsuffix= version= flavour= \
    conffile=  confoverride= \
    asmfiles= usetree=no \
    files="$(basename $(call WILDCARD, *.c))" \
    objcfiles= \
    cxxfiles="$(basename $(call WILDCARD $(foreach CXX_EXT, $(AROS_CXXEXTS), *.$(CXX_EXT))))" \
    alwayscxxlink=no \
    linklibfiles= linklibobjs= \
    cppflags="$(CPPFLAGS)" dflags= \
    aflags="$(AFLAGS)" cflags="$(CFLAGS)" \
    cxxflags="$(CXXFLAGS)" dxxflags= \
    objdir= moduledir= prefix="$(AROSDIR)" \
    linklibname= uselibs= usehostlibs= \
    compiler=target funcinstr="$(TARGET_FUNCINSTR)" lto="$(TARGET_LTO)" nostartup=yes archspecific=no \
    include_set=includes-all includedir= incextra= libdir= \
    build_abi= build_library= stripdebug="$(DEBUG)"

# We will employ a terrifying, but unavoidable, hack here.
# genmf has no concept of conditionals (ie %ifeq), and MetaMake
# ignores GNU Make ifeq() statements, but will process any #MM
# headed lines in the file.
# 
# So, to make the following #MM lines conditional on whether we want
# to build the ABI, Library, or both, we define build_abi= and 
# build_library as 'M' to enable, or '' to disable, which allows genmf
# to do the following conversions:
# 
#  #%(build_abi)M includes-foo: foo-include
#    becomes, when build_abi=M
#  #MM includes-foo: foo-include   <= Processed by MetaMake
#    but, when build_abi= ...
#  #M includes-foo: foo-includes   <= ignored by MetaMake! Yes!
# 
# Taking full blame for this: Jason S. McMullan <jason.mcmullan@gmail.com>

# Define metamake targets and their dependencies
#MM %(mmake)
#MM %(mmake)-quick
#MM %(mmake)-makefile
#MM %(mmake)-clean

# ABI targets:
#M%(build_abi)- %(include_set) : %(mmake)-includes
#M%(build_abi)- linklibs-%(modname): %(mmake)-linklib
#M%(build_abi)- linklibs-%(modname)_rel : %(mmake)-linklib
#M%(build_abi)- includes-%(modname): %(mmake)-includes
#M%(build_abi)- includes-%(modname)_rel : %(mmake)-includes
#M%(build_abi)- %(mmake) : %(mmake)-includes core-linklibs linklibs-%(uselibs)
#M%(build_abi) %(mmake)-linklib : %(mmake)-includes includes-%(uselibs)
#M%(build_abi)- %(mmake)-quick : %(mmake)-includes-quick
#M%(build_abi) %(mmake)-includes : %(mmake)-makefile %(mmake)-includes-dirs %(mmake)-set-archincludes \
#M%(build_abi)     includes-generate-deps %(mmake)-fd
#M%(build_abi) %(mmake)-includes-quick
#M%(build_abi) %(mmake)-includes-dirs
#M%(build_abi) %(mmake)-fd

# Library targets
#%(build_library)M %(mmake)-kobj : core-linklibs linklibs-%(uselibs)
#%(build_library)M %(mmake)-kobj-quick : 

# Library with ABI targets:
#%(build_library)%(build_abi) %(mmake)-kobj : %(mmake)-includes core-linklibs linklibs-%(uselibs)
#%(build_library)%(build_abi) %(mmake)-kobj-quick : %(mmake)-includes-quick

%gen_archspecificrules mainmmake=%(mmake)
%gen_archspecificrules mainmmake=%(mmake) target=-set-archincludes
%gen_archspecificrules mainmmake=%(mmake) target=-linklib
# The arch-specific linklib objects are pulled in through the -linklib arch
# chain generated above (%(mmake)-linklib : %(mmake)-$(CPU)-linklib), whose leaf
# is the %(mainmmake)-%(arch)-linklib target emitted by build_archspecific. We
# deliberately do NOT depend on the bare %(mmake)-$(CPU) (the full arch module
# build) here: that target can carry cross-module dependencies (e.g. a native
# driver that links the module's own linklib), which would create a build cycle
# linklib -> arch-module -> core-linklibs -> linklib.
%gen_archspecificrules mainmmake=%(mmake) target=-kobj
#MM- %(mmake)-kobj : %(mmake)-$(CPU)
%gen_archspecificrules mainmmake=%(mmake) target=-kobj-quick
%gen_archspecificrules mainmmake=%(mmake) target=-quick
#MM- %(mmake)-kobj-quick : %(mmake)-$(CPU)-quick

# All MetaMake targets defined by this macro
%(mmake)%(flavour)_ALLTARGETS       := %(mmake) %(mmake)-quick %(mmake)-clean

ifeq (%(build_library),M)
%(mmake)%(flavour)_ALLTARGETS       += %(mmake)-kobj %(mmake)-kobj-quick
endif

ifeq (%(build_abi),M)
%(mmake)%(flavour)_ALLTARGETS += %(mmake)-includes \
                 %(mmake)-set-archincludes \
                 %(mmake)-includes-quick %(mmake)-includes-dirs  \
                 %(mmake)-linklib %(mmake)-fd
endif

.PHONY : $(%(mmake)%(flavour)_ALLTARGETS) %(mmake)-makefile

ifeq (%(modname),)
$(error using %build_module: modname may not be empty)
endif
ifeq (%(modtype),)
$(error using %build_module: $(MODTYPE) has to be defined with the type of the module)
endif
ifneq (%(incextra),)
%(mmake)_INCEXTRA  := %(incextra)
else
%(mmake)_INCEXTRA  := $(TOP)/$(CURDIR)/..
endif

ifeq (%(compiler),host)
ifeq (%(alwayscxxlink),yes)
%(mmake)_LINK= $(strip $(HOST_CXX) $(HOST_LDFLAGS))
endif
%(mmake)_LD_OPTS := $(strip $(HOST_ISA_LDFLAGS) $(NOSTARTUP_LDFLAGS))
%(mmake)_LDFLAGS += $(strip $(HOST_LDFLAGS))
endif

ifeq (%(compiler),target)
%(mmake)_LDFLAGS = $(strip $(LDFLAGS))
ifeq (%(alwayscxxlink),yes)
%(mmake)_LINK= $(strip $(AROS_CXX) $(TARGET_SYSROOT))
ifneq ($(TARGET_CXX_LIBS),)
%(mmake)_ARCHLIBS := $(TARGET_CXX_LIBS)
endif
endif
%(mmake)_LD_OPTS := $(strip $(TARGET_ISA_LDFLAGS) $(NOSTARTUP_LDFLAGS))
endif

ifeq (%(compiler),kernel)
%(mmake)_LDFLAGS := $(strip $(USER_LDFLAGS) $(KERNEL_LDFLAGS))
ifeq (%(alwayscxxlink),yes)
KERNEL_CXX ?= $(strip $(KERNEL_CC))
%(mmake)_LINK= $(strip $(KERNEL_CXX) $(KERNEL_SYSROOT))
ifneq ($(TARGET_LIBATOMIC),)
%(mmake)_ARCHLIBS := $(KERNEL_CXX_LIBS)
endif
endif
%(mmake)_LD_OPTS := $(strip $(KERNEL_ISA_LDFLAGS) $(NOSTARTUP_LDFLAGS))
endif

# Default values for variables and arguments
ifneq (%(flavour),)
    %(mmake)%(flavour)_DEFNAME      := %(modname)_%(flavour)
else
    %(mmake)%(flavour)_DEFNAME      := %(modname)
endif
%(mmake)%(flavour)_DEFLINKLIBNAME   := $(%(mmake)%(flavour)_DEFNAME)
ifneq (%(linklibname),)
    %(mmake)%(flavour)_LINKLIBNAME  := %(linklibname)
else
    %(mmake)%(flavour)_LINKLIBNAME  = $(%(mmake)%(flavour)_DEFLINKLIBNAME)
endif
%(mmake)%(flavour)_DEFCPPFLAGS      := %(cppflags)
ifneq (%(includedir),)
    %(mmake)%(flavour)_DEFCPPFLAGS  += -I%(includedir)
endif
%(mmake)%(flavour)_DEFDFLAGS        := %(cflags)
ifneq (%(dflags),)
    %(mmake)%(flavour)_DFLAGS       := %(dflags)
else
    %(mmake)%(flavour)_DFLAGS       = $(%(mmake)%(flavour)_DEFDFLAGS)
endif
%(mmake)%(flavour)_DEFDXXFLAGS      := %(cxxflags)
ifneq (%(dxxflags),)
    %(mmake)%(flavour)_DXXFLAGS     := %(dxxflags)
else
    %(mmake)%(flavour)_DXXFLAGS     = $(%(mmake)%(flavour)_DEFDXXFLAGS)
endif

ifeq (%(compiler),target)
ifeq (%(lto),yes)
%(mmake)%(flavour)_DEFDFLAGS        := $(strip $(LTO_BINARY_CFLAGS) $(CFLAGS_NO_STRICT_ALIASING) $(NOWARN_LTO_TYPE_MISMATCH) $(%(mmake)%(flavour)_DEFDFLAGS))
%(mmake)%(flavour)_DEFDXXFLAGS      := $(strip $(LTO_BINARY_CFLAGS) $(CFLAGS_NO_STRICT_ALIASING) $(NOWARN_LTO_TYPE_MISMATCH) $(%(mmake)%(flavour)_DEFDXXFLAGS))
endif
ifeq (%(funcinstr),yes)
%(mmake)_FUNCINSTR := yes
%(mmake)%(flavour)_DEFDFLAGS        := $(strip $(FUNCINSTR_FLAGS) $(%(mmake)%(flavour)_DEFDFLAGS))
%(mmake)%(flavour)_DEFDXXFLAGS      := $(strip $(FUNCINSTR_FLAGS) $(%(mmake)%(flavour)_DEFDXXFLAGS))
endif
endif

OBJDIR                              ?= $(GENDIR)/$(CURDIR)
ifneq (%(objdir),)
%(mmake)_OBJDIR                     := %(objdir)
else
%(mmake)_OBJDIR                     := $(OBJDIR)/$(%(mmake)%(flavour)_DEFNAME)
endif
ifneq (%(flavour),)
%(mmake)%(flavour)_OBJDIR           := $(%(mmake)_OBJDIR)
endif

## Create genmodule include Makefile for the module
##
%(mmake)%(flavour)-makefile         := $(%(mmake)%(flavour)_OBJDIR)/Makefile.$(%(mmake)%(flavour)_DEFNAME)%(modtype)
#MM
%(mmake)%(flavour)-genmakefile : $(%(mmake)%(flavour)-makefile)

%rule_genmodule_makefile \
    mmake=%(mmake)-genmakefile modname="%(modname)" flavour="%(flavour)" modtype="%(modtype)" \
    modsuffix="%(modsuffix)" targetdir="$(%(mmake)%(flavour)_OBJDIR)" \
    conffile="%(conffile)" confoverride="%(confoverride)"

%rule_makedirs dirs="$(%(mmake)%(flavour)_OBJDIR)" setuptarget="$(%(mmake)%(flavour)-makefile)"

# Do not parse these statements if metatarget is not appropriate
ifneq ($(filter $(TARGET),$(%(mmake)%(flavour)_ALLTARGETS)),)

# suppress makes warning that the Makefile doesnt yet exist
# on early passes (it will generate the file as needed though)
# when we include it.
-include $(%(mmake)%(flavour)-makefile)

%(mmake)%(flavour)_DEFMODDIR        := $($(%(mmake)%(flavour)_DEFNAME)_MODDIR)
ifeq (%(archspecific),yes)
%(mmake)%(flavour)_DEFMODDIR        := $(AROS_DIR_BOOTARCH)/$(%(mmake)%(flavour)_DEFMODDIR)
endif
ifneq (%(moduledir),)
    %(mmake)%(flavour)_MODDIR       := %(moduledir)
else
    %(mmake)%(flavour)_MODDIR       := $(%(mmake)%(flavour)_DEFMODDIR)
endif

## include files generation
##
ifneq (%(includedir),)
%(mmake)%(flavour)_INCDIR           := %(includedir)
else
%(mmake)%(flavour)_INCDIR           := %(prefix)/$(AROS_DIR_DEVELOPER)/$(AROS_DIR_INCLUDE)
endif
%(mmake)%(flavour)_LIBDEFSINC       := $(%(mmake)%(flavour)_OBJDIR)/include/$(%(mmake)%(flavour)_DEFNAME)_libdefs.h
%(mmake)%(flavour)_DEFLIBDEFSINC    := $(%(mmake)%(flavour)_OBJDIR)/include/$(%(mmake)%(flavour)_DEFNAME)_deflibdefs.h

ifeq (%(build_abi),M)
%(mmake)-includes-quick : %(mmake)-includes
%(mmake)-includes : $(addprefix $(GENINCDIR)/,$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES)) \
    $(addprefix $(%(mmake)%(flavour)_INCDIR)/,$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES)) \
    $(%(mmake)%(flavour)_LIBDEFSINC) $(%(mmake)%(flavour)_DEFLIBDEFSINC)

ifneq ($($(%(mmake)%(flavour)_DEFNAME)_INCLUDES),)
%rule_genmodule_includes mmake=%(mmake)-includes modname="%(modname)" modtype="%(modtype)" \
    modsuffix="%(modsuffix)" targetdir="$(%(mmake)_OBJDIR)/include" \
    conffile="%(conffile)" confoverride="%(confoverride)" flavour="%(flavour)"

%rule_copy_diff_multi \
    files="$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES)" srcdir="$(%(mmake)_OBJDIR)/include" targetdir="$(GENINCDIR)" \
    stampfile="$(%(mmake)_OBJDIR)/%(modname)_geninc"

%rule_copy_diff_multi \
    files="$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES)" srcdir="$(%(mmake)_OBJDIR)/include" targetdir="$(%(mmake)%(flavour)_INCDIR)" \
    stampfile="$(%(mmake)_OBJDIR)/%(modname)_incs"

%(mmake)%(flavour)_INCDIRS := $(filter-out ./,$(sort $(dir $($(%(mmake)%(flavour)_DEFNAME)_INCLUDES))))

TMP%(modname)_INCDIRS := \
    $(%(mmake)_OBJDIR)/include $(addprefix $(%(mmake)_OBJDIR)/include/,$(%(mmake)%(flavour)_INCDIRS)) \
    $(GENINCDIR) $(addprefix $(GENINCDIR)/,$(%(mmake)%(flavour)_INCDIRS)) \
    $(%(mmake)%(flavour)_INCDIR) $(addprefix $(%(mmake)%(flavour)_INCDIR)/,$(%(mmake)%(flavour)_INCDIRS))
%rule_makedirs dirs="$(TMP%(modname)_INCDIRS)" setuptarget="%(mmake)-includes-dirs"

endif

endif

%rule_genmodule_genlibdefs mmake=%(mmake)-genlibdefs modname="%(modname)" flavour="%(flavour)" modtype="%(modtype)" \
    modsuffix="%(modsuffix)" targetdir="$(%(mmake)%(flavour)_OBJDIR)/include" \
    conffile="%(conffile)" confoverride="%(confoverride)" version="%(version)"

$(%(mmake)%(flavour)_DEFLIBDEFSINC) : FILENAME := $(%(mmake)%(flavour)_LIBDEFSINC)
$(%(mmake)%(flavour)_DEFLIBDEFSINC) : $(%(mmake)%(flavour)_LIBDEFSINC)
	$(Q)$(ECHO) "Generating $(subst $(TARGETDIR)/,,$@)"
	$(Q)$(ECHO) "#define LC_LIBDEFS_FILE \"$(FILENAME)\"" >$@

$(%(mmake)%(flavour)_LIBDEFSINC) $(%(mmake)%(flavour)_DEFLIBDEFSINC) : | $(%(mmake)%(flavour)_OBJDIR)/include
%rule_makedirs dirs="$(%(mmake)%(flavour)_OBJDIR)/include" setuptarget=%(mmake)%(flavour)-includes-dirs

#MM- %(mmake)-genmodfiles : %(mmake)%(flavour)-genmakefile

## Extra genmodule src files generation
## 
%rule_genmodule_files mmake=%(mmake)-genmodfiles modname="%(modname)" modtype="%(modtype)" \
    modsuffix="%(modsuffix)" targetdir="$(%(mmake)%(flavour)_OBJDIR)" stubdir="$(%(mmake)%(flavour)_OBJDIR)/linklib" \
    conffile="%(conffile)" confoverride="%(confoverride)" flavour="%(flavour)"

$(%(mmake)-genmodfiles_GENFILEFLAG) : $(%(mmake)%(flavour)_DEFLIBDEFSINC) $(%(mmake)%(flavour)-makefile)

%rule_makedirs dirs="$(%(mmake)%(flavour)_OBJDIR)/linklib" setuptarget="$(%(mmake)-genmodfiles_GENFILEFLAG)"

ifeq (%(build_abi),M)
## Create FD file
ifeq (%(includedir),)
%(mmake)%(flavour)_FDDIR            := %(prefix)/$(AROS_DIR_DEVELOPER)/$(AROS_DIR_SDK)/$(AROS_DIR_FD)
else
%(mmake)%(flavour)_FDDIR            := %(includedir)/../$(AROS_DIR_FD)
endif
%(mmake)-fd : $(%(mmake)%(flavour)_FDDIR)/%(modname)_lib.fd

%rule_genmodule_fd modname="%(modname)" modtype="%(modtype)" \
    modsuffix="%(modsuffix)" targetdir="$(%(mmake)%(flavour)_FDDIR)" conffile="%(conffile)" confoverride="%(confoverride)"

$(%(mmake)%(flavour)_FDDIR)/%(modname)_lib.fd : | $(%(mmake)%(flavour)_FDDIR)

%rule_makedirs dirs="$(%(mmake)%(flavour)_FDDIR)" setuptarget=%(mmake)%(flavour)-fd-setup
endif

## Compilation
##
%(mmake)%(flavour)_ASMFILES         := %(asmfiles)
%(mmake)%(flavour)_FILES            := %(files)
%(mmake)%(flavour)_OBJCFILES        := %(objcfiles)
%(mmake)%(flavour)_CXXFILES         := %(cxxfiles)

%(mmake)%(flavour)_LIBFILES         := %(linklibfiles)
%(mmake)%(flavour)_LIBS             := %(uselibs)

%(mmake)%(flavour)_FDIRS            := $(sort $(dir $(%(mmake)%(flavour)_FILES)))

%(mmake)%(flavour)_FILEMATCH        = $(and $(findstring $(1),$(2)),$(findstring $(2),$(1)))
%(mmake)%(flavour)_MATCHARCH        = $(foreach matchfile,$(2),$(foreach archfile,$(1),$(if $(call %(mmake)%(flavour)_FILEMATCH,$(archfile),$(notdir $(matchfile))),$(matchfile),)))
%(mmake)%(flavour)_FILTERARCH       = $(filter-out $(call %(mmake)%(flavour)_MATCHARCH,$(1),$(2)),$(2))
%(mmake)%(flavour)_STARTFILES       := $(addprefix $(%(mmake)%(flavour)_OBJDIR)/,$($(%(mmake)%(flavour)_DEFNAME)_STARTFILES))
%(mmake)%(flavour)_ENDFILES         := $(addprefix $(%(mmake)%(flavour)_OBJDIR)/,$($(%(mmake)%(flavour)_DEFNAME)_ENDFILES))

%(mmake)%(flavour)_ARCHOBJS         := $(wildcard $(%(mmake)%(flavour)_OBJDIR)/arch/*.o)
%(mmake)%(flavour)_LIBARCHOBJS      := $(wildcard $(%(mmake)%(flavour)_OBJDIR)/linklib/arch/*.o)
%(mmake)%(flavour)_ARCHFILES        := $(basename $(notdir $(%(mmake)%(flavour)_ARCHOBJS)))
%(mmake)%(flavour)_LIBARCHFILES     := $(basename $(notdir $(%(mmake)%(flavour)_LIBARCHOBJS)))
%(mmake)%(flavour)_C_NARCHFILES     := $(call %(mmake)%(flavour)_FILTERARCH,$(%(mmake)%(flavour)_ARCHFILES),$(%(mmake)%(flavour)_FILES))
%(mmake)%(flavour)_CXX_NARCHFILES   := $(call %(mmake)%(flavour)_FILTERARCH,$(%(mmake)%(flavour)_ARCHFILES),$(%(mmake)%(flavour)_CXXFILES))
%(mmake)%(flavour)_OBJC_NARCHFILES  := $(call %(mmake)%(flavour)_FILTERARCH,$(%(mmake)%(flavour)_ARCHFILES),$(%(mmake)%(flavour)_OBJCFILES))
%(mmake)%(flavour)_NLIBARCHFILES    := $(call %(mmake)%(flavour)_FILTERARCH,$(%(mmake)%(flavour)_LIBARCHFILES),$(%(mmake)%(flavour)_LIBFILES))
# All arch-specific linklib objects are linked (from linklib/arch/). This
# covers both arch-only files and arch overrides of a generic file; the
# generic counterpart of an overridden file is dropped by NLIBARCHFILES above.
%(mmake)%(flavour)_ARCHNLIBFILES    := $(%(mmake)%(flavour)_LIBARCHFILES)

%(mmake)%(flavour)_CPPFLAGS         := $(strip %(cppflags) -I$(%(mmake)%(flavour)_OBJDIR)/include -include $(%(mmake)%(flavour)_DEFLIBDEFSINC))
ifneq (%(includedir),)
%(mmake)%(flavour)_CPPFLAGS         += -I%(includedir)
endif
%(mmake)%(flavour)_LINKLIBCPPFLAGS  := $(%(mmake)%(flavour)_CPPFLAGS)
%(mmake)%(flavour)_CPPFLAGS         += $(strip $($(%(mmake)%(flavour)_DEFNAME)_CPPFLAGS))
%(mmake)%(flavour)_LINKLIBCPPFLAGS  += $(strip $($(%(mmake)%(flavour)_DEFNAME)_LINKLIBCPPFLAGS))
%(mmake)%(flavour)_CFLAGS           := $(strip %(cflags) $($(%(mmake)%(flavour)_DEFNAME)_CFLAGS))
%(mmake)%(flavour)_LINKLIBCFLAGS    := $(strip %(cflags) $($(%(mmake)%(flavour)_DEFNAME)_LINKLIBCFLAGS))
%(mmake)%(flavour)_CXXFLAGS         := $(strip %(cxxflags) $($(%(mmake)%(flavour)_DEFNAME)_CXXFLAGS))
ifeq (%(compiler),target)
ifeq (%(lto),yes)
%(mmake)%(flavour)_LTOFLAGS         ?= $(strip $(LTO_BINARY_CFLAGS) $(CFLAGS_NO_STRICT_ALIASING) $(NOWARN_LTO_TYPE_MISMATCH))
%(mmake)%(flavour)_CFLAGS           := $(strip $(%(mmake)%(flavour)_LTOFLAGS) $(%(mmake)%(flavour)_CFLAGS))
%(mmake)%(flavour)_LINKLIBCFLAGS    := $(strip $(%(mmake)%(flavour)_LTOFLAGS) $(%(mmake)%(flavour)_LINKLIBCFLAGS))
%(mmake)%(flavour)_CXXFLAGS         := $(strip $(%(mmake)%(flavour)_LTOFLAGS) $(%(mmake)%(flavour)_CXXFLAGS))
endif
ifeq (%(funcinstr),yes)
%(mmake)%(flavour)_SUBSTNULL        :=
%(mmake)%(flavour)_SUBSTSPACE       := $(%(mmake)%(flavour)_SUBSTNULL) #
%(mmake)%(flavour)_SUBSTCOMMA       := ,
%(mmake)%(flavour)_INSTRFUNCFLAGS   ?= $(strip $(FUNCINSTR_FLAGS) -finstrument-functions-exclude-file-list=$(subst $(%(mmake)%(flavour)_SUBSTSPACE),$(%(mmake)%(flavour)_SUBSTCOMMA),$(strip $($(%(mmake)%(flavour)_DEFNAME)_STARTFILES))))
%(mmake)%(flavour)_INSTRFUNCLIBS    ?= $(FUNCINSTR_LIBS)
%(mmake)%(flavour)_CFLAGS           := $(strip $(%(mmake)%(flavour)_INSTRFUNCFLAGS) $(%(mmake)%(flavour)_CFLAGS))
%(mmake)%(flavour)_CXXFLAGS         := $(strip $(%(mmake)%(flavour)_INSTRFUNCFLAGS) $(%(mmake)%(flavour)_CXXFLAGS))
%(mmake)%(flavour)_LIBS             += $(%(mmake)%(flavour)_INSTRFUNCLIBS)
endif
endif
%(mmake)%(flavour)_AFLAGS           := %(aflags)
%(mmake)%(flavour)_DFLAGS           := $(strip $(%(mmake)%(flavour)_DFLAGS) $($(%(mmake)%(flavour)_DEFNAME)_DFLAGS))
%(mmake)%(flavour)_LINKLIBDFLAGS    := $(strip $(%(mmake)%(flavour)_DFLAGS) $($(%(mmake)%(flavour)_DEFNAME)_LINKLIBDFLAGS))
%(mmake)%(flavour)_DXXFLAGS         := $(strip $(%(mmake)%(flavour)_DXXFLAGS) $($(%(mmake)%(flavour)_DEFNAME)_DXXFLAGS))

ifeq (%(modtype),library)
    %(mmake)%(flavour)_LIBSUFFIX    := 
else
    %(mmake)%(flavour)_LIBSUFFIX    := .%(modtype)
endif

ifeq (%(libdir),)
ifneq (%(modsuffix),)
%(mmake)%(flavour)_LIBDIR           := $(GENDIR)/$(CURDIR)
else
ifeq (%(modtype),library)
%(mmake)%(flavour)_LIBDIR           := %(prefix)/$(AROS_DIR_DEVELOPER)/$(AROS_DIR_LIB)
else
%(mmake)%(flavour)_LIBDIR           := $(GENDIR)/$(CURDIR)
endif
endif
else
%(mmake)%(flavour)_LIBDIR           := %(libdir)
endif

ifeq (%(build_abi),M)
%(mmake)%(flavour)_LINKLIBCFILES    := $(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/,$($(%(mmake)%(flavour)_DEFNAME)_LINKLIBFILES))
%(mmake)%(flavour)_LINKLIBAFILES    := $(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/,$($(%(mmake)%(flavour)_DEFNAME)_LINKLIBAFILES))
ifeq ($(strip $($(%(mmake)%(flavour)_DEFNAME)_LINKLIBFILES) $($(%(mmake)%(flavour)_DEFNAME)_LINKLIBAFILES) %(linklibfiles) $(%(mmake)%(flavour)_ARCHNLIBFILES)),)
    %(mmake)%(flavour)_LINKLIB      :=
else
    %(mmake)%(flavour)_LINKLIB      := $(%(mmake)%(flavour)_LIBDIR)/lib%(modname)$(%(mmake)%(flavour)_LIBSUFFIX).a
    ifneq (%(modname),$(%(mmake)%(flavour)_LINKLIBNAME))
        %(mmake)%(flavour)_LINKLIB  += $(%(mmake)%(flavour)_LIBDIR)/lib$(%(mmake)%(flavour)_LINKLIBNAME)$(%(mmake)%(flavour)_LIBSUFFIX).a
    endif
endif
%(mmake)%(flavour)_LINKLIBFILES     := $(%(mmake)%(flavour)_LINKLIBCFILES) $(%(mmake)%(flavour)_LINKLIBAFILES)

%(mmake)%(flavour)_RELLINKLIBCFILES := $(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/,$($(%(mmake)%(flavour)_DEFNAME)_RELLINKLIBFILES))
%(mmake)%(flavour)_RELLINKLIBAFILES := $(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/,$($(%(mmake)%(flavour)_DEFNAME)_RELLINKLIBAFILES))
ifeq ($(strip $($(%(mmake)%(flavour)_DEFNAME)_RELLINKLIBFILES) $($(%(mmake)%(flavour)_DEFNAME)_RELLINKLIBAFILES) %(linklibfiles) $(%(mmake)%(flavour)_ARCHNLIBFILES)),)
    %(mmake)%(flavour)_RELLINKLIB   :=
else
    %(mmake)%(flavour)_RELLINKLIB   := $(%(mmake)%(flavour)_LIBDIR)/lib$(%(mmake)%(flavour)_DEFNAME)_rel$(%(mmake)%(flavour)_LIBSUFFIX).a
    ifneq (%(modname),$(%(mmake)%(flavour)_LINKLIBNAME))
        %(mmake)%(flavour)_RELLINKLIB += $(%(mmake)%(flavour)_LIBDIR)/lib$(%(mmake)%(flavour)_LINKLIBNAME)_rel$(%(mmake)%(flavour)_LIBSUFFIX).a
    endif
endif
%(mmake)%(flavour)_RELLINKLIBFILES  := $(%(mmake)%(flavour)_RELLINKLIBCFILES) $(%(mmake)%(flavour)_RELLINKLIBAFILES)
endif

%(mmake)%(flavour)_ENDOBJS          := $(addsuffix .o,$(%(mmake)%(flavour)_ENDFILES))
%(mmake)%(flavour)_LINKLIBOBJS      := $(addsuffix .o,$(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/,$(notdir $(%(mmake)%(flavour)_NLIBARCHFILES))) $(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/arch/,$(notdir $(%(mmake)%(flavour)_ARCHNLIBFILES))) $(%(mmake)%(flavour)_LINKLIBFILES)) \
                 %(linklibobjs)
%(mmake)%(flavour)_RELLINKLIBOBJS   := $(addsuffix .o,$(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/,$(notdir $(%(mmake)%(flavour)_NLIBARCHFILES))) $(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/arch/,$(notdir $(%(mmake)%(flavour)_ARCHNLIBFILES))) $(%(mmake)%(flavour)_RELLINKLIBFILES)) \
                 %(linklibobjs)
$(%(mmake)%(flavour)_LINKLIBFILES) $(%(mmake)%(flavour)_RELLINKLIBFILES) : | $(%(mmake)%(flavour)_OBJDIR)/linklib
$(%(mmake)%(flavour)_LINKLIBOBJS) $(%(mmake)%(flavour)_RELLINKLIBOBJS) : | $(%(mmake)%(flavour)_OBJDIR)/linklib

%(mmake)%(flavour)_CCFILES := $(%(mmake)%(flavour)_C_NARCHFILES)
%(mmake)%(flavour)_TARGETCCFILES    := $(strip $(%(mmake)%(flavour)_STARTFILES) $(%(mmake)%(flavour)_ENDFILES))
%(mmake)%(flavour)_LINKLIBCCFILES   := $(strip $(%(mmake)%(flavour)_NLIBARCHFILES) $(%(mmake)%(flavour)_LINKLIBCFILES) $(%(mmake)%(flavour)_RELLINKLIBCFILES))
%(mmake)%(flavour)_LINKLIBCCGENFILES := $(strip $(%(mmake)%(flavour)_LINKLIBCFILES) $(%(mmake)%(flavour)_RELLINKLIBCFILES))

%add_compilerlinkflags mmake="%(mmake)%(flavour)" cflags=$(%(mmake)_CFLAGS)

%rule_compile_cxx_multi mmake=%(mmake)%(flavour) \
    basenames="$(%(mmake)%(flavour)_CXX_NARCHFILES)" targetdir="$(%(mmake)%(flavour)_OBJDIR)" \
    cppflags="$(%(mmake)%(flavour)_CPPFLAGS)" cxxflags="$(%(mmake)%(flavour)_CXXFLAGS)" dxxflags="$(%(mmake)%(flavour)_DXXFLAGS)" \
    compiler="%(compiler)" incextra="$(%(mmake)_INCEXTRA)" usetree=%(usetree)
%rule_compile_objc_multi mmake=%(mmake)%(flavour) \
    basenames="$(%(mmake)%(flavour)_OBJC_NARCHFILES)" targetdir="$(%(mmake)%(flavour)_OBJDIR)" \
    cppflags="$(%(mmake)%(flavour)_CPPFLAGS)" cflags="$(%(mmake)%(flavour)_CFLAGS)" dflags="$(%(mmake)%(flavour)_DFLAGS)" \
    compiler="%(compiler)" incextra="$(%(mmake)_INCEXTRA)"
%rule_compile_multi mmake=%(mmake)%(flavour) \
    basenames="$(%(mmake)%(flavour)_CCFILES)" targetdir="$(%(mmake)%(flavour)_OBJDIR)" \
    cppflags="$(%(mmake)%(flavour)_CPPFLAGS)" cflags="$(%(mmake)%(flavour)_CFLAGS)" dflags="$(%(mmake)%(flavour)_DFLAGS)" \
    compiler="%(compiler)" incextra="$(%(mmake)_INCEXTRA)" usetree=%(usetree)
%rule_compile_multi mmake=%(mmake)%(flavour) \
    basenames="$(%(mmake)%(flavour)_TARGETCCFILES)" targetdir="$(%(mmake)%(flavour)_OBJDIR)" \
    cppflags="$(%(mmake)%(flavour)_CPPFLAGS) -D__AROS__" cflags="$(%(mmake)%(flavour)_CFLAGS)" dflags="$(%(mmake)%(flavour)_DFLAGS)" \
    compiler="%(compiler)" incextra="$(%(mmake)_INCEXTRA)" usetree=%(usetree)
%rule_compile_multi mmake=%(mmake)%(flavour) \
    basenames="$(%(mmake)%(flavour)_NLIBARCHFILES)" targetdir="$(%(mmake)%(flavour)_OBJDIR)/linklib" \
    cppflags="$(%(mmake)%(flavour)_LINKLIBCPPFLAGS) -D__AROS__" cflags="$(%(mmake)%(flavour)_LINKLIBCFLAGS)" dflags="$(%(mmake)%(flavour)_LINKLIBDFLAGS)" \
    compiler="%(compiler)" incextra="$(%(mmake)_INCEXTRA)" usetree=%(usetree)
%rule_compile_multi mmake=%(mmake)%(flavour) \
    basenames="$(%(mmake)%(flavour)_LINKLIBCCGENFILES)" srcdir="$(%(mmake)%(flavour)_OBJDIR)/linklib" targetdir="$(%(mmake)%(flavour)_OBJDIR)/linklib" \
    cppflags="$(%(mmake)%(flavour)_LINKLIBCPPFLAGS) -D__AROS__" cflags="$(%(mmake)%(flavour)_LINKLIBCFLAGS)" dflags="$(%(mmake)%(flavour)_LINKLIBDFLAGS)" \
    compiler="%(compiler)" incextra="$(%(mmake)_INCEXTRA)" usetree=%(usetree)
%rule_assemble_multi mmake=%(mmake)%(flavour) \
    cmd="$(%(mmake)%(flavour)_ASSEMBLER)" basenames="$(%(mmake)%(flavour)_ASMFILES)" targetdir="$(%(mmake)%(flavour)_OBJDIR)" \
    cppflags="$(%(mmake)%(flavour)_CPPFLAGS)" aflags="$(%(mmake)%(flavour)_AFLAGS)"

ifneq ($(%(mmake)%(flavour)_LINKLIBAFILES),)
%rule_assemble_multi  mmake=%(mmake)%(flavour) \
    cmd="$(%(mmake)%(flavour)_ASSEMBLER)" basenames="$(%(mmake)%(flavour)_LINKLIBAFILES) $(%(mmake)%(flavour)_RELLINKLIBAFILES)" targetdir="$(%(mmake)%(flavour)_OBJDIR)/linklib" suffix=".S"
endif

## Linking
##
ifeq (%(modsuffix),)
%(mmake)%(flavour)_SUFFIX           := %(modtype)
else
%(mmake)%(flavour)_SUFFIX           := %(modsuffix)
endif

ifeq (%(build_library),M)
# Handlers use dash instead of dot in their names
ifeq ($(%(mmake)%(flavour)_SUFFIX),handler)
%(mmake)%(flavour)_MODULE           := %(prefix)/$(%(mmake)%(flavour)_MODDIR)/$(%(mmake)%(flavour)_DEFNAME)-$(%(mmake)%(flavour)_SUFFIX)
else
%(mmake)%(flavour)_MODULE           := %(prefix)/$(%(mmake)%(flavour)_MODDIR)/$(%(mmake)%(flavour)_DEFNAME).$(%(mmake)%(flavour)_SUFFIX)
endif
%(mmake)%(flavour)_KOBJ             := $(KOBJSDIR)/$(%(mmake)%(flavour)_DEFNAME)_$(%(mmake)%(flavour)_SUFFIX).o
else
%(mmake)%(flavour)_MODULE           :=
%(mmake)%(flavour)_KOBJ             :=
endif

%(mmake)-quick      : %(mmake)
%(mmake)            : $(%(mmake)%(flavour)_MODULE) $(%(mmake)%(flavour)_LINKLIB) $(%(mmake)%(flavour)_RELLINKLIB)
ifeq (%(build_library),M)
%(mmake)-kobj       : $(%(mmake)%(flavour)_KOBJ) $(%(mmake)%(flavour)_LINKLIB) $(%(mmake)%(flavour)_RELLINKLIB)
%(mmake)-kobj-quick : $(%(mmake)%(flavour)_KOBJ) $(%(mmake)%(flavour)_LINKLIB) $(%(mmake)%(flavour)_RELLINKLIB)
endif
ifeq (%(build_abi),M)
%(mmake)-linklib    : $(%(mmake)%(flavour)_LINKLIB) $(%(mmake)%(flavour)_RELLINKLIB)
endif

%(mmake)%(flavour)_OBJS := $(addsuffix .o,$(%(mmake)%(flavour)_STARTFILES)) $(%(mmake)%(flavour)_ARCHOBJS) \
           $(addprefix $(%(mmake)%(flavour)_OBJDIR)/,$(notdir $(%(mmake)%(flavour)_ASMFILES:=.o) $(%(mmake)%(flavour)_C_NARCHFILES:=.o) $(%(mmake)%(flavour)_CXXFILES:=.o)))

ifeq (%(nostartup),yes)
# Handlers always have entry point
ifneq (%(modtype),handler)
%(mmake)%(flavour)_STARTOBJS        := $(addsuffix .o,$(addprefix $(GENDIR)/,$(RESIDENT_BEGIN)))
endif
endif

# Under Windows con* is a reserved name, it refers to console. Files with such names can't be created.
# This breaks con-handler build. Here we work around this
ifeq (%(modname),con)
    %(mmake)%(flavour)_ERR          := $(notdir $(%(mmake)%(flavour)_MODULE)).err
else
    %(mmake)%(flavour)_ERR          := %(modname).err
endif

$(%(mmake)%(flavour)_DEFNAME)_LDFLAGS = $(%(mmake)_LDFLAGS)

$(%(mmake)%(flavour)_DEFNAME)_STRIPDEBUG ?= %(stripdebug)

ifeq (%(build_library),M)

ifeq (%(compiler),target)
%(mmake)_ARCHLIBS += $(TARGET_C_LIBS)
endif
ifeq (%(compiler),kernel)
%(mmake)_ARCHLIBS += $(KERNEL_C_LIBS)
endif
# The module is linked from all the compiled .o files
%rule_linkmodule module="$(%(mmake)%(flavour)_MODULE)" objs="$(%(mmake)%(flavour)_STARTOBJS) $(%(mmake)%(flavour)_OBJS) $(USER_OBJS)" \
		 endobj="$(%(mmake)%(flavour)_ENDOBJS)" err="$(%(mmake)%(flavour)_ERR)" objdir="$(%(mmake)%(flavour)_OBJDIR)" \
		 cmd="$(%(mmake)%(flavour)_LINK)" ldopts="$(%(mmake)_LD_OPTS)" ldflags="$($(%(mmake)%(flavour)_DEFNAME)_LDFLAGS)" \
		 uselibs="$(%(mmake)%(flavour)_LIBS) $($(%(mmake)%(flavour)_DEFNAME)_LIBS)" usehostlibs="%(usehostlibs)" archlibs="$(%(mmake)_ARCHLIBS)" stripdebug="$($(%(mmake)%(flavour)_DEFNAME)_STRIPDEBUG)"
endif

ifeq (%(build_abi),M)
# Link static lib
%(mmake)%(flavour)_LC_LINKLIBNAME   := $(shell $(ECHO) $(%(mmake)%(flavour)_LINKLIBNAME) | tr A-Z a-z)
%(mmake)%(flavour)_LC_MODNAME       := $(shell $(ECHO) %(modname) | tr A-Z a-z)
ifneq ($(%(mmake)%(flavour)_LINKLIB),)
%rule_link_linklib mmake=%(mmake) libname="$(%(mmake)%(flavour)_LINKLIBNAME)$(%(mmake)%(flavour)_LIBSUFFIX)" objs="$(%(mmake)%(flavour)_LINKLIBOBJS)" libdir="$(%(mmake)%(flavour)_LIBDIR)"
ifneq ($(%(mmake)%(flavour)_LC_MODNAME),$(%(mmake)%(flavour)_LC_LINKLIBNAME))
%rule_link_linklib mmake=%(mmake) libname="%(modname)$(%(mmake)%(flavour)_LIBSUFFIX)" objs="$(%(mmake)%(flavour)_LINKLIBOBJS)" libdir="$(%(mmake)%(flavour)_LIBDIR)"
endif

%rule_makedirs dirs="$(%(mmake)%(flavour)_LIBDIR)" setuptarget="$(%(mmake)%(flavour)_LINKLIB)"
endif

ifneq ($(%(mmake)%(flavour)_RELLINKLIB),)
%rule_link_linklib mmake=%(mmake) libname="$(%(mmake)%(flavour)_LINKLIBNAME)_rel$(%(mmake)%(flavour)_LIBSUFFIX)" objs="$(%(mmake)%(flavour)_RELLINKLIBOBJS)" libdir="$(%(mmake)%(flavour)_LIBDIR)"
ifneq ($(%(mmake)%(flavour)_LC_MODNAME),$(%(mmake)%(flavour)_LC_LINKLIBNAME))
%rule_link_linklib mmake=%(mmake) libname="$(%(mmake)%(flavour)_DEFNAME)_rel$(%(mmake)%(flavour)_LIBSUFFIX)" objs="$(%(mmake)%(flavour)_RELLINKLIBOBJS)" libdir="$(%(mmake)%(flavour)_LIBDIR)"
endif

%rule_makedirs dirs="$(%(mmake)%(flavour)_LIBDIR)" setuptarget="$(%(mmake)%(flavour)_RELLINKLIB)"
endif
endif

ifeq (%(build_library),M)
# Link kernel object file
%(mmake)%(flavour)_KAUTOLIB         := dos intuition layers graphics oop utility expansion keymap

# Make these symbols local
%(mmake)%(flavour)_KBASE            := DOSBase IntuitionBase LayersBase GfxBase OOPBase \
	    UtilityBase ExpansionBase KeymapBase KernelBase

%(mmake)%(flavour)_SYMBOLS := $(%(mmake)%(flavour)_KBASE)

%(mmake)%(flavour)_KLIB             := hiddstubs amiga arossupport autoinit libinit
%(mmake)%(flavour)_KOBJ_LIBS        := $(filter-out $(%(mmake)%(flavour)_KLIB),$(%(mmake)%(flavour)_LIBS)) $(%(mmake)%(flavour)_KAUTOLIB)
$(%(mmake)%(flavour)_KOBJ) : LINKLIBS:=$(%(mmake)%(flavour)_KOBJ_LIBS) $($(%(mmake)%(flavour)_DEFNAME)_LIBS)
$(%(mmake)%(flavour)_KOBJ) : FILTBASES:=$(addprefix -L ,$(%(mmake)%(flavour)_SYMBOLS))
$(%(mmake)%(flavour)_KOBJ) : USER_LDFLAGS:=$(USER_LDFLAGS)
$(%(mmake)%(flavour)_KOBJ) : $(%(mmake)%(flavour)_OBJS) $(USER_OBJS) $(%(mmake)%(flavour)_ENDOBJS)
	$(Q)$(ECHO) "Linking    $(subst $(TARGETDIR)/,,$@)"
	$(Q)$(AROS_LD) -Ur $(KOBJ_LDFLAGS) $(KERNEL_KOBJ_LDSCRIPT) -o $@ $^ $(USER_LDFLAGS) -L$(AROS_LIB) $(addprefix -l,$(LINKLIBS))
	$(Q)$(OBJCOPY) $@ $(FILTBASES) `$(NM_PLAIN) $@ | $(AWK) '($$3 ~ /^__.*_(LIST|END)__\r?$$/) || ($$3 ~ /^__aros_lib.*\r?$$/) {print "-L " $$3;}'`
endif

## Dependency fine-tuning
##
%(mmake)%(flavour)_DEPS             := $(addprefix $(%(mmake)%(flavour)_OBJDIR)/,$(notdir $(%(mmake)%(flavour)_CCFILES:=.d) $(%(mmake)%(flavour)_TARGETCCFILES:=.d) $(%(mmake)%(flavour)_CXXFILES:=.d))) $(addprefix $(%(mmake)%(flavour)_OBJDIR)/linklib/,$(notdir $(%(mmake)%(flavour)_LINKLIBCCFILES:=.d)))

%include_deps depstargets="%(mmake) %(mmake)-quick %(mmake)-kobj %(mmake)-kobj-quick" deps="$(%(mmake)%(flavour)_DEPS)"

$(%(mmake)%(flavour)_OBJS) $(%(mmake)%(flavour)_DEPS) : | $(%(mmake)%(flavour)_OBJDIR)/linklib
%rule_makedirs dirs="$(%(mmake)%(flavour)_OBJDIR) %(prefix)/$(%(mmake)%(flavour)_MODDIR) $(KOBJSDIR)" setuptarget="$(%(mmake)%(flavour)_OBJS) $(%(mmake)%(flavour)_DEPS) $(%(mmake)%(flavour)_MODULE) $(%(mmake)%(flavour)_KOBJ)"

# Some include files need to be generated before the .c can be parsed.
ifneq ($(filter $(TARGET),%(mmake) %(mmake)-includes %(mmake)-quick %(mmake)-kobj %(mmake)-kobj-quick),) # Only for this target these deps are wanted

%(mmake)%(flavour)_DFILE_DEPS := $(%(mmake)%(flavour)_LIBDEFSINC) $(%(mmake)%(flavour)_DEFLIBDEFSINC) \
    $(addprefix $(%(mmake)%(flavour)_INCDIR)/,$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES))
$(%(mmake)%(flavour)_DEPS) : $(%(mmake)%(flavour)_DFILE_DEPS)
endif

%(mmake)%(flavour)_TOCLEAN := $(%(mmake)%(flavour)_OBJS) $(%(mmake)%(flavour)_DEPS) \
    $(%(mmake)%(flavour)_MODULE) $(%(mmake)%(flavour)_LINKLIB) $(%(mmake)%(flavour)_KOBJ) \
    $(%(mmake)%(flavour)_OBJDIR)/Makefile.%(modname)%(modtype) \
    $(addprefix $(%(mmake)%(flavour)_OBJDIR)/include/,$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES)) \
    $(addprefix $(GENINCDIR)/,$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES)) \
    $(addprefix $(%(mmake)%(flavour)_INCDIR)/,$($(%(mmake)%(flavour)_DEFNAME)_INCLUDES)) \
    $(%(mmake)_OBJDIR)/%(modname)_geninc $(%(mmake)_OBJDIR)/%(modname)_incs \
    $(addsuffix .c,$(%(mmake)%(flavour)_LINKLIBFILES)) $(%(mmake)%(flavour)_LINKLIBOBJS) $(%(mmake)%(flavour)_LIBDEFSINC) \
    $(%(mmake)%(flavour)_DEFLIBDEFSINC) $(addsuffix .c,$(%(mmake)%(flavour)_STARTFILES) $(%(mmake)%(flavour)_ENDFILES)) \
    $(%(mmake)%(flavour)_ENDOBJS)
%(mmake)-clean : FILES              := $(%(mmake)%(flavour)_TOCLEAN)
%(mmake)-clean ::
	$(Q)$(ECHO) "Cleaning up for module %(modname)"
	$(Q)$(RM) $(FILES)

endif # $(TARGET) in $(%(mmake)%(flavour)_ALLTARGETS)
%end

%define build_module mmake=/A modname=/A modtype=/A modsuffix= version= flavour= conffile= confoverride= \
  files="$(basename $(call WILDCARD, *.c))" \
  objcfiles= asmfiles= usetree=no \
  cxxfiles="$(basename $(call WILDCARD $(foreach CXX_EXT, $(AROS_CXXEXTS), *.$(CXX_EXT))))" \
  alwayscxxlink=no \
  linklibfiles= linklibobjs= aflags="$(AFLAGS)" cflags="$(CFLAGS)" cppflags="$(CPPFLAGS)" dflags= cxxflags="$(CXXFLAGS)" dxxflags= \
  objdir= moduledir= prefix="$(AROSDIR)" \
  linklibname= uselibs= usehostlibs= \
  compiler=target funcinstr="$(TARGET_FUNCINSTR)" lto="$(TARGET_LTO)" nostartup=yes archspecific=no \
  include_set=includes-all includedir= libdir= stripdebug="$(DEBUG)" incextra=

%build_module_core mmake="%(mmake)" modname="%(modname)" modtype="%(modtype)" \
   modsuffix="%(modsuffix)" version="%(version)" flavour="%(flavour)" conffile="%(conffile)" confoverride="%(confoverride)" \
   files="%(files)" asmfiles="%(asmfiles)" objcfiles="%(objcfiles)" cxxfiles="%(cxxfiles)" alwayscxxlink=%(alwayscxxlink) \
   linklibname="%(linklibname)" linklibfiles="%(linklibfiles)" linklibobjs="%(linklibobjs)" \
   cflags="%(cflags)" cppflags="%(cppflags)" aflags="%(aflags)" dflags="%(dflags)" cxxflags="%(cxxflags)" dxxflags="%(dxxflags)" \
   objdir="%(objdir)" moduledir="%(moduledir)" prefix="%(prefix)" \
   uselibs="%(uselibs)" usehostlibs="%(usehostlibs)" compiler="%(compiler)" funcinstr=%(funcinstr) lto=%(lto) \
   nostartup="%(nostartup)" archspecific="%(archspecific)" usetree=%(usetree) \
   include_set=%(include_set) includedir="%(includedir)" libdir="%(libdir)" \
   build_abi=M build_library=M stripdebug="%(stripdebug)" incextra="%(incextra)"

%end

%define build_module_abi mmake=/A modname=/A modtype=/A modsuffix= version= flavour= conffile= confoverride= \
  linklibfiles= linklibobjs= cflags="$(CFLAGS)" cppflags="$(CPPFLAGS)" dflags= cxxflags="$(CXXFLAGS)" dxxflags= \
  objdir= moduledir= prefix="$(AROSDIR)" \
  linklibname= uselibs= usehostlibs= \
  compiler=target nostartup=yes archspecific=no \
  include_set=includes-all includedir= libdir= stripdebug="$(DEBUG)" incextra=

%build_module_core mmake="%(mmake)" modname="%(modname)" modtype="%(modtype)" \
  modsuffix="%(modsuffix)" version="%(version)" flavour="%(flavour)" conffile="%(conffile)" confoverride="%(confoverride)" \
  linklibname="%(linklibname)" \
  linklibfiles="%(linklibfiles)" linklibobjs="%(linklibobjs)" \
  cflags="%(cflags)" cppflags="%(cppflags)" dflags="%(dflags)" cxxflags="%(cxxflags)" dxxflags="%(dxxflags)" \
  objdir="%(objdir)" moduledir="%(moduledir)" prefix="%(prefix)" \
  uselibs="%(uselibs)" usehostlibs="%(usehostlibs)" compiler="%(compiler)" lto=%(lto) \
  nostartup="%(nostartup)" archspecific="%(archspecific)" \
  include_set=%(include_set) includedir="%(includedir)" libdir="%(libdir)" \
  build_abi=M build_library= stripdebug="%(stripdebug)" incextra="%(incextra)"

%end

%define build_module_library mmake=/A modname=/A modtype=/A modsuffix= version= flavour= \
  conffile= confoverride= \
  files="$(basename $(call WILDCARD, *.c))" \
  objcfiles= \
  cxxfiles="$(basename $(call WILDCARD $(foreach CXX_EXT, $(AROS_CXXEXTS), *.$(CXX_EXT))))"  \
  alwayscxxlink=no \
  cflags="$(CFLAGS)" cppflags="$(CPPFLAGS)" dflags= cxxflags="$(CXXFLAGS)" dxxflags= \
  objdir= moduledir= prefix="$(AROSDIR)" \
  uselibs= usehostlibs= \
  compiler=target lto="$(TARGET_LTO)" nostartup=yes archspecific=no \
  include_set=includes-all includedir= libdir= stripdebug="$(DEBUG)" incextra=

%build_module_core mmake="%(mmake)" modname="%(modname)" modtype="%(modtype)" \
   modsuffix="%(modsuffix)" version="%(version)" flavour="%(flavour)" \
   conffile="%(conffile)" confoverride="%(confoverride)" \
   files="%(files)" objcfiles="%(objcfiles)" cxxfiles="%(cxxfiles)" alwayscxxlink=%(alwayscxxlink) \
   cflags="%(cflags)" cppflags="%(cppflags)" dflags="%(dflags)" cxxflags="%(cxxflags)" dxxflags="%(dxxflags)" \
   objdir="%(objdir)" moduledir="%(moduledir)" prefix="%(prefix)" \
   uselibs="%(uselibs)" usehostlibs="%(usehostlibs)" compiler="%(compiler)" lto=%(lto) \
   nostartup="%(nostartup)" archspecific="%(archspecific)" \
   include_set=%(include_set) includedir="%(includedir)" libdir="%(libdir)" \
   build_abi= build_library=M stripdebug="%(stripdebug)" incextra="%(incextra)"

%end
